<h1>Willkommen bei Ihrem Rezeptbuch</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">

    <%= link_to "Neues Gericht hinzufügen", new_recipe_path, 
      class: "btn btn-primary mt-3" %>

    <p></p>

    <h2>Was koche ich heute?</h2>
    <%= turbo_frame_tag "recipes" do %>
      <%= render @recipes %>
    <% end %>
  </div>
</div>
