<h1>Willkommen bei Ihrem Rezeptbuch</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">

    <%= link_to "Neues Gericht hinzufügen", new_recipe_path, 
      class: "btn btn-primary" %>

    <p></p>

    <h2>Was koche ich heute?</h2>
    <ul class="list-unstyled">
      <% @recipes.each do | recipe |%>
        <li>
          <% if recipe.photo.attached? %>
            <%= cl_image_tag(recipe.photo.key,
            width: 40, height: 30, crop: :fill) %>
          <% else %>
            <%= image_tag("recipe_placeholder.jpg",
              width: 40, height: 30, crop: :fill) %>
          <% end %>
          <%= link_to recipe.title, recipe_path(recipe) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<hr>
