/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  body {
    font-size: 1.4rem;
  } /*1rem = 16px*/ 
  .card-card-title {font-size: 1rem;}
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }
  .navbar {font-size: 20px;}
  .card-card-title {font-size: 1.2rem;}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 150%;
  }
  .navbar {font-size: 22px;}
  .card-card-title {font-size: 1.2rem;}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 1.8rem;
  }
  .navbar {font-size: 22px;}
  .card-card-title {font-size: 1.4rem;}
}

/* mixins, variables, etc. */

/* universal */
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  padding-top: 100px;
  padding-bottom: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

h1 {
  margin: 0 auto;
  text-align:center;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: white;
  text-decoration: none;
}

/* Dropdown menu */
.dropdown-menu.active {
  display: block;
}

/* flash alerts */
.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #FD1015;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
}
#error_explanation ul {
  color: red;
  margin: 0 0 30px 0;
}

/* footer */
footer{
  color: white;
}
footer a{
  color: white;

}
footer a:hover{
  color: lightgray;
}
footer ul {
  padding-left: 2rem; list-style-type: none;
}
footer ul li {
  display:inline-block;
}
.footer {
  bottom: 0;
  left: 0;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  background-color: #023877;
  text-align: center;
}

/* recipe cards */
.card-product {
  overflow: hidden;
  height: 60px;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}
